@charset "utf-8";
html,
body {
    height: 100%;
    width: 100%;
    min-height: 700px;
    margin: 0;
}

p {
    display: block;
    margin: 0;
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;
    -webkit-margin-start: 0px !important;
    -webkit-margin-end: 0px !important;
}