@charset 'utf-8';

html, body {
    height: 100%;
    width: 100%;
    overflow-x:hidden;
        overflow-y:hidden;
}

.div-container {
    height: 100%;
    width: 100%;
}

.div-left {
  width: 260px;
  height: 100%;
  background-color: #30445c;
}